<div id="articles">
  <div class="container">
    <h1>Articles</h1>
    <div class="row" v-for="i in Math.ceil(articles.length / 3)">
      <div class="col-sm-4" v-for="article in articles.slice((i - 1) * 3, i * 3)">
        <div class="card">
          <img class="card-img-top" :src="article.coverUrl" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{article.title}}</h5>
            <p class="card-text">By: {{article.author}}</p>
            <a :href="'articles/' + article.id" class="btn btn-primary">Go to the article</a>
        </div>
      </div>
    </div> 
    </div>
  </div>
</div>
<%- exposeLocalsToBrowser() %>